<h4>报名信息导出</h4>
<%= form_tag export_cpanel_users_path do %>
  <%= label_tag '请输入接受报名表的邮箱：' %>
  <%= text_field_tag 'email' %>
  <%= submit_tag "确定" %>
<% end %>

<hr>
<h4>报名情况</h4>
<div>
  <strong>程序员: </strong><%= @users.select{ |u| u.user_type == 'coder' }.count %>
</div>
<div>
  <strong>设计师: </strong><%= @users.select{ |u| u.user_type == 'designer' }.count %>
</div>
<div>
  <strong>产品经理: </strong><%= @users.select{ |u| u.user_type == 'pm' }.count %>
</div>
<div>
  <strong>其他: </strong><%= @users.select{ |u| u.type_name == u.user_type }.count %>
</div>

<table class="table table-hover table-condensed" style="width: 100%;">
  <tr>
    <th>姓名</th>
    <th>角色</th>
    <th>单位/学校</th>
    <th>邮箱</th>
    <th class="homepage">个人主页</th>
    <th class="works">个人作品</th>
    <th class="actions"></th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.type_name %></td>
      <td><%= user.organ %></td>
      <td><%= user.email %></td>
      <td class="homepage"><%= raw user.homepages %></td>
      <td class="works">
        <%= attachments_for(user) %>
      </td>
      <td class="actions">
        <%= link_to '查看详情', cpanel_user_path(user) %>
        <%= link_to '删除报名信息', cpanel_user_path(user), :method => :delete, :data => { :confirm => "确定删除吗?" } %>
      </td>
    </tr>
  <% end %>
</table>
