<h6>报名信息</h6>
<div class="list-group">
  <div class="list-group-item">
    <p class="list-group-item-heading">姓名</p>
    <p class="list-group-item-text"><%= @user.name %></p>
  </div>
  <div class="list-group-item">
    <p class="list-group-item-heading">角色</p>
    <p class="list-group-item-text"><%= @user.type_name %></p>
  </div>
  <div class="list-group-item">
    <p class="list-group-item-heading">单位/学校</p>
    <p class="list-group-item-text"><%= @user.organ %></p>
  </div>
  <div class="list-group-item">
    <p class="list-group-item-heading">邮箱</p>
    <p class="list-group-item-text"><%= @user.email %></p>
  </div>
  <div class="list-group-item">
    <p class="list-group-item-heading">个人主页</p>
    <p class="list-group-item-text"><%= raw @user.homepages %></p>
  </div>
  <div class="list-group-item">
    <p class="list-group-item-heading">个人介绍</p>
    <p class="list-group-item-text"><%= @user.about %></p>
  </div>
  <div class="list-group-item">
    <p class="list-group-item-heading">个人作品</p>
    <p class="list-group-item-text"><%= attachments_for(@user) %></p>
  </div>
</div>
