<h1>报名信息</h1>
<div class="row">
  <strong>姓名：</strong>
  <span><%= @user.name %></span>
</div>
<div class="row">
  <strong>角色：</strong>
  <span><%= @user.type_name %></span>
</div>
<div class="row">
  <strong>单位/学校：</strong>
  <span><%= @user.organ %></span>
</div>
<div class="row">
  <strong>邮箱：</strong>
  <span><%= @user.email %></span>
</div>
<div class="row">
  <strong>个人主页：</strong>
  <span><%= raw @user.homepages %></span>
</div>
<div class="row">
  <strong>个人介绍：</strong>
  <span><%= @user.about %></span>
</div>
<div class="row">
  <strong>个人作品：</strong>
  <span><%= attachments_for(@user) %></span>
</div>
