<% content_for :title, t(:about) %>
<% content_for :meta do %>
  <link rel="canonical" href="http://gzhack.io/about" />
<% end %>

<% content_for :action_name, "about" %>

<% content_for :sidebar_nav do %>
  <li><a href="#intro"><%= t :event_introduction %></a></li>
  <li><a href="#target"><%= t :goals %></a></li>
  <li><a href="#schedule"><%= t :schedule %></a></li>
  <li><a href="#award"><%= t :award %></a></li>
  <li><a href="#traffic"><%= t :traffic %></a></li>
  <li><a href="#sponsors"><%= t :sponsor_partners %></a></li>
  <li><%= language_nav %></li>
<% end %>

<%
  secs_id = %w{intro target schedule award traffic sponsors}
  secs = if I18n.locale == I18n.default_locale
           secs_id
         else
           secs_id.map{ |s| s + "_en" }
         end
%>
<% secs.each_with_index do |sec, i| %>
  <div id="<%= secs_id[i] %>">
    <%= render sec %>
  </div>
<% end %>
