<% content_for :meta do %>
  <link rel="canonical" href="http://gzhack.io/home" />
<% end %>


<section id="nav" style='background: #000; height: 50px;'>
</section>
<section id='logo'>
  <div class="container">
    <div class="slider">
      <ul class="sliders-list" id='slider_list'>
        <li><img src="/logo.png" alt='广州创客马拉松'></img></li>
        <li><img src="/logo.png" alt='广州创客马拉松'></img></li>
        <li><img src="/logo.png" alt='广州创客马拉松'></img></li>
      </ul>
    </div>
  </div>
</section>

<section id="entries">
  <div class='inner'>
    <div class="entry">
      <div class="ih-item circle effect4 left_to_right">
        <%= link_to about_path do %>
          <div class="img">
            <img src='/about.png' alt='<%= t :about %>' />
          </div>
          <div class="info">
            <h3><%= t :about %></h3>
            <p><%= t :about_description %></p>
          </div>
        <% end %>
      </div>
    </div>
    <div class='entry'>
      <div class="ih-item circle effect4 top_to_bottom">
        <%= link_to about_path do %>
          <div class="img">
            <img src='/projects.jpeg' alt='<%= t :signup %>'/>
          </div>
          <div class="info">
            <h3><%= t :projects %></h3>
            <p><%= t :projects_description %></p>
          </div>
        <% end %>
      </div>
    </div>
    <div class="entry">
      <div class="ih-item circle effect4 right_to_left">
        <%= link_to 'http://forum.gzhack.io' do %>
          <div class="img">
            <img src='/forum.png' alt='<%= t :forum %>'/>
          </div>
          <div class="info">
            <h3><%= t :forum %></h3>
            <p><%= t :forum_description %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
