<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %> | 2014广州创客马拉松 Guangzhou Hackathon 2014 gzhack</title>
  <meta name="keywords" content="2014, 广州, 创客马拉松, hackthon, gzhack">
  <meta name="description" content="2014广州创客马拉松">
  <%= yield :meta %>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body id="<%= controller_name %>" data-spy="scroll" data-target=".navigation">

<div class="container-fluid main">
  <%= yield %>
</div>

</body>
</html>
