<!DOCTYPE html>
<html>
<head>
  <title>Guangzhou Hackathon 2014</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body id="<%= controller_name %>">

<div class="flash">
  <% flash.each do |type, message| %>
    <%= content_tag(:div, message, :class => "alert-#{type}") %>
  <% end %>
</div>

<ul class="nav">
  <li><%= link_to "后台主界面", cpanel_dashboard_path %></li>
  <li><%= link_to "活动主页", root_path %></li>
  <li><%= link_to "报名列表", cpanel_users_path %></li>
  <li><%= link_to "活动列表", cpanel_events_path %></li>
</ul>

<%= yield %>

</body>
</html>
