<!DOCTYPE html>
<html>
<head>
  <title>2014广州创客马拉松 Guangzhou Hackathon 2014</title>
  <meta name="keywords" content="2014, 广州, 创客马拉松, hackthon">
  <meta name="description" content="2014广州创客马拉松">
  <%= yield :meta %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body id="<%= controller_name %>">

<%= yield %>

</body>
</html>
