<div id="form" class="container">
  <h4><%= t :submit_project %></h4>
<%= form_for [:cpanel, @project], :html => { :role => 'form' } do |f| %>
  <div class="row">
    <div class="form-group col-xs-5">
      <%= f.label :name %>
      <%= f.text_field :name, :class => 'form-control validating' %>
    </div>
  </div>
  <div class="row team">
    <div class="form-group col-xs-5 inputs">
      <%= f.label :team %>
      <% if @project.new_record? %>
        <input type="text" name="project[team][0]" class='form-control validating'>
      <% else %>
        <% @project.team.split(" ").each_with_index do |t,i| %>
          <input type="text" name="project[team][<%= i %>]" class='form-control validating' value="<%= t %>">
        <% end %>
      <% end %>
      <a id="add_member" href="javascript:void(0)"><%= t 'project_form.add_member' %></a>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-xs-10">
      <%= f.label :url %>
      <%= f.text_field :url, :class => 'form-control' %>
      <span class="help-block"><%= t 'project_form.url_specs' %></span>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-xs-10">
      <%= f.label :description %>
      <%= f.text_area :description, rows: '5', class: 'form-control' %>
      <span class="help-block"><%= t 'project_form.description_specs' %></span>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-xs-10">
      <%= f.fields_for :demo do |af| %>
        <%= af.label :file %>
        <%= af.file_field :file, :multiple => true, :name => "demo[file][]", :id => 'attachment' %>
        <span class="help-block"><%= t 'project_form.file_specs' %></span>
      <% end %>
    </div>
  </div>

  <%= f.submit t('project_form.confirm'), class: 'btn btn-primary btn-wide' %>
<% end %>
</div>
