<div>
  <strong>作品名称:</strong>
  <span><%= @project.name %></span>
</div>
<div>
  <strong>团队成员:</strong>
  <span><%= @project.team %></span>
</div>
<div>
  <strong>作品地址:</strong>
  <span><a href='http://<%= @project.url %>'><%= @project.url %></a></span>
</div>
<div>
  <strong>作品介绍:</strong>
  <span><%= @project.description %></span>
</div>
<div>
  <strong>作品DEMO:</strong>
  <span><%= demo_for(@project) %></span>
</div>

<%= link_to "删除", cpanel_project_path(@project), :method => :delete, :data => { :confirm => "确定删除吗?" } %>
